<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аренда автомобилей</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Добро пожаловать в компанию по аренде автомобилей</h1>
    <nav>
        <a href="/cars">Доступные автомобили</a>
        <a href="/register">Регистрация</a>
        <a href="/login">Авторизация</a>
        <a href="/admin">Вход для администратора</a>
        <a href="/profile">Аккаунт</a>
    </nav>
    <p>Арендуйте лучшие автомобили по выгодным ценам!</p>
</body>
</html>
